.Home{
  font-family:Verdana, Geneva, Tahoma, sans-serif ;
  color: black;
  background-color: blanchedalmond;
}

.Header{
 font-family:Verdana, Geneva, Tahoma, sans-serif ;
  color: black;
  background-color: rgb(147, 214, 175);
}

.Footer{
  font-family:Verdana, Geneva, Tahoma, sans-serif ;
  color: black;
  background-color: rgb(147, 214, 175);
}

.Home .plane{
  width: 40%;
  align-items: center;
}